

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    width: 100%;
    height: 70px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}

header>img {
    height: 30px;
    filter: invert(100%);
    display: none;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

@keyframes headerAni {
    0% {
        background-color: transparent;

    }

    100% {
        background-color: black;
    }

}

header.scrolled {
    background-color: black;
    animation: headerAni 0.4s ease-in-out;
    box-shadow: 0px 0px 5px white;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 700;
    letter-spacing: 0.5px;
}

header .logo-cont {
   
    width: 130px;
    height: 60px;

}

header .logo-cont img {
    width: 100%;
    height: 100%;

}

.sideheader {
    width: 200px;
    background: rgba(0, 0, 0, 0.85);
    height: 100vh;
    position: absolute;
    z-index: 1000;
    padding: 10px 0px;
}
.sideheader li {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
}
.sideheader a{
    color: white;
    text-decoration: none;
    width: 100%;
    padding:10px 5px;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: rgba(0, 0, 0, 0.7) solid;


}
.sideheader img{

    height: 80px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:700px) {
    header nav {
        display: none;
    }

    header>img {
        display: block;
    }
    header{
        padding-left: 0;
    }
}